.btnh{
    position: absolute;
    right: 0;
}
.logo img{
    width: 90px;
}
.btn-one{
    margin-right: 35px;
}
.btn-one button{
    border-radius: 5px;
    border:none;
    color: white;
    width:70px;padding: 6px;
    cursor: pointer;
}
.image img{
    width: 1250px;
}
.table td button{
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 60px;
    padding: 5px;
    border: 1px solid grey;


}.closebtn button{
    position: absolute;
    right: 25px;
    top:19px;
}
.nav-loginname a{
    color: blue;

}
.list a{
    margin-left: 100px;
}
.table{
    width: 100%;
    text-align: center;
}
.log-button a{
    color: white;
    text-decoration: none;
}
.list a:hover{
    color:white;
    background-color: grey;
    

}
 