.btnh {
    position: absolute;
    right: 0;
}

.logo img {
    width: 90px;
}

.btn-one {
    margin-right: 35px;
}

.btn-one button {
    border-radius: 5px;
    border: none;
    color: white;
    width: 70px;
    padding: 6px;
    cursor: pointer;
}

.image img {
    width: 100%;
}

.table {
    border-radius: 8px;
    width: 60px;
    padding: 5px;
    border: 1px solid grey;
    border: none;
}


.closebtn button {
    position: absolute;
    right: 25px;
    top: 19px;
}

.nav-loginname a {
    color: blue;

}

.menubar a {
    margin-left: 100px;
}

.table {
    width: 100%;
}

.log-button a {
    color: white;
    text-decoration: none;
}


button .tooltip-text {
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;

}

button:hover .tooltip-text {
    visibility: visible;
}

@media screen and (max-width: 480px) {
    .table button {
    }

    .action:hover {
        background-color: green;
    }

}